/* Remove some padding and set icon color */
#app-your-car .app-inner {
	padding: 0;
}

#app-home .menu-icon-car .menu-icon-inner {
	background: linear-gradient(to top right, #364fa8, #7f95e0);
}

/* Fonts */
.your-car-main h1 {
	padding: 0;
	margin: -5px 0;
}
.your-car-main h2 {
	font-family: 'Calibri Light';
	font-weight: 100;
	padding: 0;
	margin: -4px 0;
	font-size: 1.5em;
	color: #1f6fbd;
}

/* The car app */
#app-your-car {
    background-color: #fefefe;
}

/* Bars, top left */
.changeCarButton {
	color: #232323;
	margin: 5px;
	width: 100%;
	margin: 15px;
	margin-bottom: 10px;
}
.changeCarButton.active {
	color: #767ebf;
}

/* Warning icon, top right */
#warning-message-icon {
	display: none;
	color: #c84747;
	position: absolute;
	top: 0;
	right: 0;
	margin: 31px 15px;
}
.listWrapperDiv.menuItem.active #warning-message-icon {
	color: #dd8282;
}
.listWrapperDiv.warningIcon.active .engineDamagedSpan {
	display: block;
}
.engineDamagedSpan {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	margin: 26px 39px;
	background-color: #dd6767;
	padding: 4px 10px;
	border-radius: 5px;
	color: #fefefe;
}

.unsel {
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
}
/* Choose your car div */
#select-your-car {
	overflow: auto;
	width: calc(100%);
	background-color: #ececec;
	position: absolute;
	display: flex;
	flex-direction: column;
}
#select-your-car > span:first-child {
	border-bottom: 1px solid #e4e4e4;
	margin-bottom: 5px;
	text-align: center;
	font-size: 1.2em;
	padding-bottom: 10px;
	padding-top: 15px;
	background-color: #fefefe
}

#select-your-car > div {
	background-color: #fefefe;
	margin: 0;
	padding: 12px 18px;
	border-bottom: 1px solid #dadada;
}
#select-your-car > div.active {
	/* background-color: #1f6fbd; */
	background: linear-gradient(to right, #2b3c99, #3e5cb9);
	color: #fefefe;
	border-bottom: 1px solid #2f2860;
}
#select-your-car > div > span:first-child {
	font-size: 0.9em;
}
#select-your-car > div > span {
	display: block;
	font-size: 1.2em;
}

/* The main div for the app */
.your-car-main {
	color: #3f3f3f;
	width: 100%;
	height: 100%;
	font-weight: 100;
	font-family: helvetica, sans-serif;
}

/* Car info at top */
.carHeadInfo {
	border-bottom: 1px solid #e9e9e9;
	padding-left: 45px;
	padding-bottom: 10px;
}
.your-car-main .carModelSpan {
	font-size: 1em;
}

/* Div styles */
.your-car-main .listWrapperDiv > div {
	border-bottom: 1px solid #ccc;
	padding: 10px;
	padding-left: 45px;
}
.your-car-main .listWrapperDiv.warningIcon > div {
	border-bottom: none;
	padding: 0;
}
/* Submenus */
.your-car-main .listWrapperDiv.submenu > div {
	border-bottom: none;
}

.small {
	display: none;
}
.your-car-main div.small h2 {
	margin-left: 21px;
    font-size: 1.0em;
    margin-top: -15px;
    color: #777;
    border-left: 5px solid #a3cbff;
    padding-left: 5px;
    height: 17px;
}

/* Active divs */
#app-your-car .active > div > h2 {
	color: #6cc46a;
}


/* Ingen bil hittades */
#no-car-found-div {
	display: flex;
	flex-direction: column;
	padding: 5px;
	margin: 0 auto;
	width: 82%;
	padding: 10px;
	padding-top: 0px;
	background-color: #eee;
	border-bottom: 1px solid #ddd;
	margin-top: 90px;
}

#no-car-found-div > span:first-child {
	font-size: 1.1em;
	color: #232323;
	margin-bottom: -15px;
}

#no-car-found-div > span {
	font-size: 0.9em;
	color: #444;
	margin: 15px 0px -3px;
	font-family: helvetica, sans-serif;
}

.find-car-near-button, #find-car-near-back-button {
	border: none;
	padding: 10px;
	background-color: #4e72bc;
	margin-top: 5px;
	/* box-shadow: 2px 2px 3px #999; */
	/* border: 1px solid #3d3c48; */
	/* border-radius: 8px; */
	color: #fefefe;
	background: linear-gradient(to right, #4e72bc, #6081c6);
}
.find-car-near-button.active {
	background-color: #61ab6f;
	background: linear-gradient(to right, #52a253, #69c66b);
}
#find-car-near-back-button.active {
	background-color: #c65c5c;
	background: linear-gradient(to right, #c65c5c, #d26e6e);
}

/* Special find car near */
#select-your-car .find-car-near-button {
	padding: 18px;
	width: 100%;
	margin-bottom: 15px
}



/* Spinner */
.spinner {
  margin: 140px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}
.spinner > span {
	width: 140px;
	display: block;
	text-align: center;
	margin-left: -45px;
	margin-top: 4px;
}
.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
