/* Some home page customization */
#app-home .menu-icon-darkweb .menu-icon-inner {
	background: linear-gradient(to top right, #232323, #202025);
}
#app-home .menu-icon i.fa-user-secret {
    color: #f1f1f1;
}

#app-home .menu-icon-darkweb > .menu-icon-label {
    display: none;
}

/* Background */
#app-darkweb {
    background-color: #111;
	height: 450px;
}

#app-darkweb .app-inner {
	padding: 0;
}

#app-darkweb #chatwindow {
	padding-left: 10px;
	padding-top: 5px;
	background: linear-gradient(to bottom, #181818, #111);
	width: 100%;
	color: #dbdbdb;
	height: 410px;
	overflow: hidden;
}
#app-darkweb .chatMessage {
	display: flex;
	margin: 3px 0px;
	font-size: 0.9em;
}
#app-darkweb .chatMessage > span:first-child {
	color: #62ba62;
	margin-right: 3px;
}

#app-darkweb input {
	border: 0;
	margin: 0;
	display: flex;
	width: 100%;
	background: none;
	height: 30px;
	padding: 0px 15px;
	font-size: 1em;
	color: #d5d5d5;
}
